[sIBL_GUI]
Release = 2.1.1
Type = "Stable"

[XSI_MR]
Release = 1.5.6
Type = "Stable"
Comment = "XSI Mental Ray Template : Added Renderer Attribute."

[Maya_MR]
Release = 1.7.0
Type = "Stable"
Comment = "Maya Mental Ray Template : Added Renderer Attribute."

[Maya_VRay]
Release = 1.1.4
Type = "Stable"
Comment = "VRay For Maya Template : Added Renderer Attribute."

[Maya_VRay_DLight]
Release = 1.1.4
Type = "Stable"
Comment = "VRay For Maya Dome Light Template : Added Renderer Attribute."

[Maya_Turtle]
Release = 1.1.6
Type = "Stable"
Comment = "Maya Turtle Template : Added Renderer Attribute."

[Maya_RfM]
Release = 1.0.4
Type = "Stable"
Comment = "Renderman For Maya Template : Added Renderer Attribute."

[3dsMax_MR]
Release = 0.9.6
Type = "Nightly"
Comment = "3dsMax Mental Ray Base Template : Added Renderer Attribute."

[3dsMax_Scanline]
Release = 0.9.6
Type = "Nightly"
Comment = "3dsMax Scanline Ray Base Template : Added Renderer Attribute."

[3dsMax_VRay]
Release = 0.9.6
Type = "Nightly"
Comment = "3dsMax VRay Base Template : Added Renderer Attribute."